*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gilroy';

}
html, body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100%;
    background-color:rgb(221, 224, 227);
   padding-top: 0.1px;
  position: relative;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
 
  
}
nav h2{
    height: 100%;
    width: 20% ;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: 600;
    border-right: 2px solid #000;
    font-weight: 600;
    font-size: 2.8vh;
    

   
}
nav h1{
   font-size: 5vh;
   font-weight: 700;
   width: 20% ;
   /* background-color: rgb(158, 168, 176); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'monument';
    letter-spacing: -1px;
}
nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: aliceblue; */
}
#center{
    width: 100%;
    height: 85%;
    padding: 8vh 5vw;
    position: relative;
}
#video{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: relative;
}
#video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    padding: 5vh;
    color:#fff
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ffffff;
    margin-top: 2vh;

}
#over1 h1{
    font-family: 'monument';
    
}
#over1 h2{
    width: 8vh;    
    height: 8vh;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    border: 2px solid #ffffffb0;
    border-bottom: 3px solid #fff;

}
#over2 img{
    filter: invert(100%);
}
#over2 p{
    font-size: 3.5vh;
}
#scroller{
    width: 100%;
    height: 30%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 2vw;
}
.container{
    width: 100%;
    height: 100%;
    padding: 2vh;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
   
}
.container img{
    height: 100%;
    width: 12%;
    border-radius: 50%;
    object-fit: cover;
    margin: 2vh;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#alphabet{
    width: 100%;
    height: 10vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}
#alphabet h5{
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.4vw;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabet h6{
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 1vw;
    padding: .5vw .7vw ;
    border-radius: 50%;
     transition:all ease 0.2s;
    
    border:2px solid #00000000;
    cursor: pointer;

}
#alphabet h6:hover{
    border:2px solid #0000007e;
}
#page2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5vw;
}
#right{
    width: 50%;
    height: 100%;
}
#right img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
#left{
    width: 46%;
    height: 100%;
    background-color: #000;
    background: url(https://images.unsplash.com/photo-1587367336516-887f58881b13?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding-bottom: 2vw;

}
#left h2{
    bottom: 0;
}
#bottom-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#left-txt{
    margin-left: 8vw;
    margin-top: 3vw;
   
}
#right-txt{
   
    margin-left: 4vw;
}
#left-txt h2{
    font-size: 1.5vw;
    line-height: 1.8vw;
    text-align:left;
    text-align: start;
    
    
}
#right-txt p{
    font-size: 1vw;
    text-align:start;
}
#vogue h2{
    font-size:3vw;
    padding: 0vw 5vw;
    font-weight: 900;
    font-family: 'monument';
}
#page3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 5vw;
   
}
#left3{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left3 h2{
    font-weight: 600;
    font-size: 1.46vw;

}
#right3{
    width: 60%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1635248426315-4f4f4f1440ff?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50%;
}
#circular-text{
    height: 50%;
    width: 100%;  
    display: flex;

}
#circular-text #circle{
    width: 100%;
    height: 100%;
    transform: translate(0%,20%);
}
#page4{
    width: 100%;
    height: 90%;
   
    padding: 4vw 5vw;
    padding-top: 0px;
}
#fullimg{
    width: 100%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1509087859087-a384654eca4d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#page5{
    width: 100%;
    height: 100%;
    padding: 4vw 5vw;
}
#page5>h2{
    text-align: center;
    font-family: 'monument';
    font-size: 2.3vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
.elem{
    width: 100%;
    height: 20%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0vw 2vw;
    position: relative;
    cursor: pointer;
    transition: all ease 0.10s;
    
}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem>p{
    width: 2%;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    padding-bottom: 4%;
}

#name p{
    font-size: 1vw;
    padding-top: 1vw;
}
#name h2{
    font-weight: 500;
    font-size: 2.4vw;

}
#name{
    width: 50%;
}
.elem img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    left: 9%;
    transition: all ease 0.7s;

}
.elem:hover img{
    opacity: 1;
    left: 24%;
}
.elem:hover{
    background-color: #f1f1f6;
}

#page6{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1vw 5vw;
    justify-content: space-between;
    align-items: center;
}
#left6{
    width: 49%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;  
}
#right6{
    width: 45%;
    height: 100%;
    
}#right6 #top-txt{
    width: 100%;
    height: 50%;
}
#top-txt h1{
    font-family: 'monument';
    text-transform: uppercase;
   font-size: 2.5vw;

}
#top-txt h2{
   
    padding: 2.4vw 0vw 2vw 0vw;
    width: 60%;
    font-weight: 600;
}
#top-txt h6{
    margin-bottom: 5vw;
    font-size: 1.1vw;
}
#bottom-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom-img #img-r{
    width: 45%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1554727242-741c14fa561c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
#bottom-img #img-l{
    width: 50%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1535295972055-1c762f4483e5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}
#page7{
    width: 100%;
    height: 90%;
    padding: 3vw 5vw;

}
#fullimg2{
    width: 100%;
    height: 100%;
    background:url(https://images.unsplash.com/photo-1558898479-33c0057a5d12?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 10%;
}
.page-8-r >img{
    object-position:top;
   
}
.page-8-r> #bottom-text{
    height: 20%;
}
.page8>#left{
    background:url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    
}
.page-8-r #left-txt{
    margin-left: -.6%;
}
